.menubar {
	height: 50px;
	background: green;
}

.menuitem {
	float: left;
	height: 37px;
	margin: 2px;
	background: yellow;
	padding: 4px;
	cursor: pointer;
	overflow: hidden;
	display: relative;
	width: 50px;
}

.menudrop {
	background: green;
	display: none;
}

.menudropitem {
	background: blue;
	float: right;
	display: absolute;
	height: 34px;
	padding: 2px;

	margin-right: 4px;
}

.menudropitem:hover {
	background: green;
}

.menuitem:hover {
	background: red;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	background: red;
}
