.menubar {
	height: 34px;
	background: black;
	background-image: url(../images/ui/menu.png);
	box-shadow: 0px 3px 3px black;
	text-align: center; 
}

.menucenter {
	/*
	Centering
	display: table;
	width: auto;
	background: none;
	margin: 0 auto;
	*/
}

.fleft {
	float: left;
	cursor: pointer;
}

.menuitem {
	float: left;
	height: 24px;
	margin: 2px;
	font-size: 18px;
	background: black;
	border: 1px solid #0090ff;
	padding: 2px;
	overflow: hidden;
	display: relative;
	color: #00ffff;
	text-align: center;
}

.menudrop {
	background: green;
	display: none;
}

.menudropitem {
	float: right;
	display: absolute;
	height: 16px;
	padding: 6px;
	padding-top: 0;
	
	margin-right: 4px;

	border: 1px solid black;
	background: #909090;
	color: black;
	background-image: url(../images/ui/menu.png);
}

.fleft:hover {
	box-shadow: 0px 3px 0px #00ffff;
}

.footer {
	box-shadow: 0px -3px 3px black;
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 8px;
	border-top: 4px solid #54c6f7;

	background-image: linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -o-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -moz-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -webkit-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -ms-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(61,57,61)),
		color-stop(0.58, rgb(7,15,15))
	);
}

.footerspacer {
	height: 150px;
	background: none;
}
