.menubar {
	height: 50px;
	background: black;
	background-image: url(../images/ui/menu.png);
}

.menuitem {
	float: left;
	height: 37px;
	margin: 2px;
	background: yellow;
	padding: 4px;
	cursor: pointer;
	overflow: hidden;
	display: relative;
	width: 50px;
}

.menudrop {
	background: green;
	display: none;
}

.menudropitem {
	background: blue;
	float: right;
	display: absolute;
	height: 34px;
	padding: 2px;

	margin-right: 4px;
}

.menudropitem:hover {
	background: green;
}

.menuitem:hover {
	background: red;
}

.footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 8px;
	border-top: 4px solid #307070;

	background-image: linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -o-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -moz-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -webkit-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);
	background-image: -ms-linear-gradient(bottom, rgb(61,57,61) 6%, rgb(7,15,15) 58%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(61,57,61)),
		color-stop(0.58, rgb(7,15,15))
	);
}
